@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');

.landingAbout{
    margin: 2vh;

    .thingo1{
        background: rgba(237, 153, 248, 0.452);
    }

    .cursor{
        background: white;
    }

    #landingImage{
        
        img{
            background: lavender;
            border-radius: 50%;
            width: 20%;
            max-width: 150px;
            box-shadow: 1px 1px 2px rgb(134, 134, 134);
        }
    }

    #landingHeading{
        h1{
            text-transform:uppercase;
            font-size: clamp(24px, 5vh, 64px);
            font-family: 'Open Sans', sans-serif;
        }
    }
}