.flexContainerCenter{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.featuredGames{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: auto;
    // margin: 0 12.5vw;

    @media screen and (max-width: 1050px){
        flex-direction: column;
        width: 95%;


        #container1{
            width: 80%;

            #game1{
                
                img{
                    width: 100% !important;
                    height: 25vh !important;
                }
            }
        }

        #container2{
            width: 80%;

            #game2{
                
                img{
                    width: 100% !important;
                    height: 25vh !important;
                }
            }

            #game3{
                
                img{
                    width: 100% !important;
                    height: 25vh !important;
                }
            }
        }
    }

    // @media screen and (max-width: 600px){
    //     #container2{
    //         flex-direction: column !important;

    //         img{

    //         }
    //     }
    // }

    #container1{
        margin: 10px;
        #game1{
            grid-area: one;

            img{
                width: 646px;
                height: 399px;
                object-fit:cover;
                border: 1px solid rgba(128, 128, 128, 0.678);

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    #container2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        img{
            border: 1px solid rgba(128, 128, 128, 0.678);
        }

        #game2{
            grid-area: two;
            margin: 5.5px;

            img{
                object-fit: cover;
                width: 311px;
                height: 190px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        
        #game3{
            grid-area: three;
            margin: 5.5px;
            position: relative;

            h3{
                position: absolute;
                text-align: center;
                width: 100%;
                top: 0%;
                padding: 0;
                margin: 0;
                color: white;
                
            }

            img{
                background: rgb(159, 197, 109);
                object-fit: contain;
                width: 311px;
                height: 190px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}